<div class="row" ng-controller="MainCtrl">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInRight">
<div class="ibox-content m-b-sm border-bottom">
    <div class="text-center">
        <h4>Si vous n'avez pas trouvé la réponse à votre question</h4>
        <span>Ajoutez votre question en sélectionnant le </span>
        <button ng-click="new == true ? new =false : new =true"  style="margin-left:5px" title="Create new cluster" class="btn btn-primary btn-sm btn-outline "><i class="fa fa-plus"></i>
          <span  class="bold" >Ajouter une Nouvelle Question</span></button> <span style="margin-left:5px"></span>button
    </div>
</div>
<div ng-if="new" class="ibox-content m-b-sm border-bottom">
  <div  class="row">
    <div class="col-md-1">
    <i class="fa fa-stack-exchange fa-5x"></i></div>
    <div class="col-md-9 text-center">
      <div class="faq-answer">
        <b style="margin-left:10px">Saisissez Votre Question : </b></label>
        <textarea ng-model="description" class="form-control" rows="3" placeholder="Enter le description de votre question ...................." ></textarea>
      </div>
    </div>
    <div class="col-md-2">
        <div class="form-group"><label><i class="fa fa-user"></i><b style="margin-left:3px">Saisissez Votre Nom: </b></label>
          <input ng-model="user" placeholder="Enter votre nom " class="form-control" type="text"/></div>
        <br>
        <button ng-disbled="!user || !description" ng-click="addQuestion(description,user)" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i> <span class="bold">Ajouter</span></button>
    </div>
  </div>
</div>
<div class="faq-item" ng-if="selected">
    <div class="row">
          <a ng-click="faq1 = !faq1" class="faq-question">{{question.description}} ?</a>
          <small>Ajouté Par <strong>{{question.user}}</strong> En :<span style="margin-left:10px"></span> <i class="fa fa-clock-o"></i> {{question.date | date:'short'}}</small>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div collapse="faq1" class="panel-collapse collapse">
              <div class="col-md-9">
                <div class="faq-answer">
                  <textarea ng-model="text" class="form-control" rows="3" placeholder="Ajouter un réponse à cette question ...................." ></textarea>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group"><label><i class="fa fa-user"></i><b style="margin-left:10px">Saisissez Votre Nom : </b></label>
                    <input ng-model="usr" placeholder="Enter nom" class="form-control" type="text"/></div>
                  <br>
                  <button ng-click="addReponse(text,usr)" class="btn btn-primary btn-sm btn-block"><i class="fa fa-comment"></i> <span class="bold">Répondre</span></button>
              </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="col-lg-12">
          <div collapse="faq1" class="faq-answer" ng-repeat="item in question.reponses" style="margin-left:20px">
            <a>N°{{$index+1}} {{item.text}}</a>
            <small class="pull-right">Par <strong>utilisateur {{item.user}}</strong> <span style="margin-left:10px">
              En :</span> <span style="margin-left:10px"></span> <i class="fa fa-clock-o"></i>  {{item.date | date:'short'}}</small>
          </div>
        </div>
    </div>
</div>
<div class="faq-item" ng-repeat="question in listQuestions">
    <div class="row">
        <div class="col-md-8">
            <a ng-click="faq2 = !faq2" ng-init="faq2 = true" class="faq-question"><span  class="btn btn-primary ess btn-circle btn-xs " style="margin-right:4px">{{$index+1}}</span>{{question.description}}</a>
            <small>Ajouter Par <strong>{{question.user}}</strong> <span style="margin-left:10px"></span> <i class="fa fa-clock-o"></i> {{question.date | date:'short'}}</small>
        </div>
        <div class="col-md-2">
            <span class="small font-bold">Nbre de rép.</span>

            <div class="tag-list">
                <span class="btn btn-info btn-circle">{{question.reponses.length}}</span>
            </div>
        </div>
        <div class="col-md-2 text-right">
            <span></span><br>
            <button ng-click="setSelected(question,$index)" class="btn btn-success btn-circle "><i class="fa fa-comment"></i> <span class="bold"></span></button>
            <button ng-click="setSelected(question,$index)" class="btn btn-warning btn-circle "><i class="fa fa-eye"></i> <span class="bold"></span></button>
            <button ng-click="deleteQuestion($index)" class="btn btn-danger btn-circle "><i class="fa fa-trash"></i> <span class="bold"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div collapse="faq2" class="panel-collapse collapse">
                <div class="faq-answer" ng-repeat="item in question.reponses" style="margin-left:20px">
                  <a>N°{{$index+1}} {{item.text}}</a>
                  <small class="pull-right">Par <strong>utilisateur {{item.user}}</strong> <span style="margin-left:10px">
                    En :</span> <span style="margin-left:10px"></span> <i class="fa fa-clock-o"></i>  {{item.date | date:'short'}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<br>
<div class="hr-line-dashed"></div>
