<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <i class="fa fa-stack-exchange fa-5x"></i>
                    <i class="fa fa-globe fa-5x"></i>
                    <i class="fa fa-stack-exchange fa-5x"></i>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Nadia ouskoubane</strong>
                             </span>
                                <span class="text-muted text-xs block">Student <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a>Agadir</a></li>
                        <li><a>0646849711</a></li>
                        <li><a>nadia.net8@gmail.com</a></li>
                        <li class="divider"></li>
                        <li><a href="/login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li ng-class="{active: $state.includes('login')}" class="landing_link">
                <a ui-sref="login" ><i class="fa fa-laptop"></i> <span class="nav-label">Login</span></a>
            </li>
            <li ng-class="{active: $state.includes('app')}">
                <a  ui-sref="forum.faq"><i class="fa fa-stack-exchange"></i> <span class="nav-label">FAQ</span></a>
            </li>
            <li ng-class="{active: $state.includes('forum_view')}">
              <a ui-sref="forum.forum_view"><i class="fa fa-stack-exchange"></i><span class="nav-label">Forum view</span></a>
            </li>
            <li ng-class="{active: $state.includes('chat_view')}">
              <a ui-sref="forum.chat_view"><i class="fa fa-stack-exchange"></i><span class="nav-label">Chat view</span></a>
            </li>
        </ul>

    </div>
</nav>
